.popup-app {
  width: 400px;
  height: 600px;
}

* {
  margin: 0;
  padding: 0;
}

.card-countdown {
  cursor: pointer;
  .background {
    background-image: url("https://wallpaperaccess.com/full/1602601.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    h1 {
      user-select: none;
    }
  }
}

.text-shadow {
  text-shadow: 0px 4px 6px #00000038;
}
