.popup-app {
  width: 390px;
  height: 635px;
}

*{
    margin: 0;
    padding: 0;
}

.card-countdown{
  .background{
    background-image: url("https://wallpaperaccess.com/full/1602601.jpg");
    background-size: cover;
    background-position: center;
  }
}